header {
    min-height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    nav {
        min-height: inherit;
    }

    img {
        margin-right: 40px;
    }

    .nav-link {
        padding-right: 18px !important;
    }
}
